<template>

    <div class="columns">
      <div class="column is-half">
        <h1 v-if="this.$route.name === 'category.new'" class="title is-uppercase">Добавить категорию</h1>
        <h1 v-else class="title is-uppercase">Редактировать категорию</h1>
          <div class="field">
            <label class="label">Название</label>
            <div class="control">
              <input :disabled="isLoad" class="input" v-bind:class="{ 'is-danger': errors.name !== undefined }" type="text"  v-model="name" placeholder="Enter name">
              <small v-if="errors.name" class="has-text-danger">{{errors.name[0]}}</small>
            </div>
          </div>

          <div v-if="id" class="field">
            <label class="label">Позиция в списке</label>
            <div class="control">
              <button v-on:click="handlerUp" :disabled="isLoad" class="button">
                <span class="icon is-small is-primary">
                  <i class="fas fa-arrow-up"></i>
                </span>
              </button>
              <button v-on:click="handlerDown" :disabled="isLoad" class="button">
                <span class="icon is-small is-primary">
                  <i class="fas fa-arrow-down"></i>
                </span>
              </button>
            </div>
          </div>

          <hr/>

          <div class="field is-grouped">
            <div class="control">
              <button v-on:click="handlerSave" :disabled="isLoad" class="button is-link">Применить</button>
            </div>
            <div class="control">
              <button v-on:click="handlerBack" class="button is-link is-light">Отмена</button>
            </div>
            <div v-if="id"  class="control">
              <button v-on:click="handlerDestroy" :disabled="isLoad" class="button is-danger">
                  <span class="icon is-small is-danger">
                    <i class="fas fa-trash"></i>
                  </span>
              </button>
            </div>
          </div>
      </div>
    </div>
</template>

<script>
    export default {
        computed: {
            isLoad() {
                return this.$store.getters['category/isLoad'] || this.$store.getters['category/isSave']
            },
            isSave() {
                return this.$store.getters['category/isSave']
            },
            errors() {
                return this.$store.getters['category/errors']
            },
            categories() {
                return this.$store.getters['categories/data']
            },
            name: {
                get () {
                    if(this.$store.getters['category/isLoad']) return null
                    return this.$store.getters['category/data']['name']
                },
                set (value) {
                    this.$store.commit('category/SET_DATA_NAME', value)
                    this.$store.commit('category/SET_ERRORS', [])
                }
            },
            id: {
                get () {
                    if(this.$store.getters['category/isLoad']) return null
                    return this.$store.getters['category/data']['id']
                },
                set (value) {

                }
            }
        },
        watch: {
            isSave(value) {
                if(!value) {
                    this.$store.dispatch("categories/loadFromServer")
                }

                if(this.$route.name === 'category.edit' && !this.$store.getters['category/activeId']) {
                    this.$router.push({name:'home'})
                }
            },
            id(id) {
                if(this.$route.name === 'category.new' && id) {
                    this.$router.push({name:'category.edit', params:{id: id}})
                }
            },
            '$route': 'fetchData'
        },
        created () {
            this.fetchData()
        },
        methods: {
            fetchData() {
                if (this.$route.name === 'category.edit') {
                    this.$store.commit('category/SET_ACTIVE_ID', this.$route.params.id)
                    this.$store.dispatch("category/editFromServer")
                }
                if (this.$route.name === 'category.new') {
                    this.$store.commit('category/SET_ACTIVE_ID', 'new')
                    this.$store.dispatch("category/createFromServer")
                }
            },
            handlerSave () {
                if(!this.isLoad) {
                    if (this.$route.name === 'category.edit') {
                        this.$store.dispatch('category/updateToServer')
                    }
                    if (this.$route.name === 'category.new') {
                        this.$store.dispatch('category/storeToServer')
                    }
                }
            },
            handlerUp () {
                if(!this.isLoad) {
                    this.$store.commit('category/SET_MOVE', 'up')
                    this.$store.dispatch('category/updateToServer')
                }
            },
            handlerDown () {
                if(!this.isLoad) {
                    this.$store.commit('category/SET_MOVE', 'down')
                    this.$store.dispatch('category/updateToServer')
                }
            },
            handlerDestroy () {
                if(!this.isLoad) {
                    this.$store.dispatch('category/destroyToServer')
                }
            },
            handlerBack () {
                if(!this.isLoad) {
                    this.$router.go(-1)
                }
            }
        }
    }
</script>
