<template>

  <progress v-if="isLoad" class="progress is-small is-primary" max="100">15%</progress>
  <div v-else>
    <div class="columns">
      <div class="column">
        <div class="tile">
          <h1 class="title is-uppercase">Категория <a v-if="this.$route.params.id" v-on:click="handlerEditCategory()" class="tag is-link is-light"><span class="icon"><i class="far fa-edit"></i></span><span>Редактировать</span></a></h1>
        </div>
      </div>
      <div class="column">
        <button class="button is-info is-rounded is-pulled-right" v-on:click=handlerCreateProduct()>
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
          <span>Добавить</span>
        </button>
      </div>
    </div>

    <div v-for="product in products" class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img :src="product.image_url" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{product.title}}</strong>
              <br>
              {{product.description}}
            </p>
          </div>
          <nav class="level level-right buttons are-small">
            <router-link class="button is-info"   :to="{ name: 'product.edit', params: { id: product.id } }"><span class="icon"><i class="far fa-edit"></i></span><span>Редактировать</span></router-link>
          </nav>
        </div>
      </article>
    </div>
  </div>

</template>

<script>
    export default {
        beforeRouteEnter (to, from, next) {
            next(vm => vm.setData(to.params.id ))
        },
        beforeRouteUpdate (to, from, next) {
            this.setData(to.params.id )
            next()
        },
        computed: {
          isLoad() {
              return this.$store.getters['products/isLoad']
          },
          products() {
              return this.$store.getters['products/data']
          }
        },
        methods: {
            setData(id) {
                this.$store.commit('products/SET_ACTIVE_CATEGORY_ID', id)
                this.$store.dispatch("products/getListFromServer")
                if(this.$route.name === 'home') {
                    this.$store.dispatch("categories/loadFromServer")
                }
            },
            handlerCreateProduct () {
                this.$router.push({ name: 'product.new', query: {category_id: this.$route.params.id}})
            },
            handlerEditCategory () {
                this.$router.push({ name: 'category.edit', params: { id: this.$route.params.id }})
            }
        },
    }
</script>
