<template>
  <div class="columns">
    <div class="column is-half">
      <h1 v-if="this.$route.name === 'product.new'" class="title is-uppercase">Добавить продукт</h1>
      <h1 v-else class="title is-uppercase">Редактировать продукт</h1>

      <div class="field">
        <label class="label">Название</label>
        <div class="control">
          <input :disabled="isLoad" class="input" v-bind:class="{ 'is-danger': errors.title !== undefined }" type="text"  v-model="title" placeholder="Enter title">
          <small v-if="errors.title" class="has-text-danger">{{errors.title[0]}}</small>
        </div>
      </div>

      <div class="field">
        <label class="label">Описание</label>
        <div class="control">
          <textarea :disabled="isLoad" class="textarea" v-bind:class="{ 'is-danger': errors.title !== undefined }" rows="4"  v-model="description" placeholder="Enter description"></textarea>
          <small v-if="errors.description" class="has-text-danger">{{errors.description[0]}}</small>
        </div>
      </div>

      <div class="field">
        <label class="label">Категория</label>
        <div class="select">
          <select v-model="category_id">
            <option :value="null">Выберите категорию</option>
            <option v-for="category in categories" v-bind:value="category.id">
              {{ category.name }}
            </option>
          </select>
          <small v-if="errors.category_id" class="has-text-danger">{{errors.category_id[0]}}</small>
        </div>
      </div>

      <div class="field">
        <label class="label">Изображения</label>
        <img :src="image_url" v-on:click="handlerImageUpload()"/>
      </div>

      <div class="file has-name">
        <label class="file-label">
          <input class="file-input" type="file" ref="file" v-on:change="onChangeFileUpload()" name="upload">
          <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            Choose a file…
          </span>
          </span>
          <span class="file-name">
            {{image}}
          </span>
        </label>
      </div>

      <hr/>

      <div class="field is-grouped">
        <div class="control">
          <button v-on:click="handlerSave" :disabled="isLoad" class="button is-link">Применить</button>
        </div>
        <div class="control">
          <button v-on:click="handlerBack" class="button is-link is-light">Отмена</button>
        </div>
        <div v-if="id" class="control">
          <button v-on:click="handlerDestroy" :disabled="isLoad" class="button is-danger">
                <span class="icon is-small is-danger">
                  <i class="fas fa-trash"></i>
                </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        computed: {
            isLoad() {
                return this.$store.getters['product/isLoad'] || this.$store.getters['product/isSave']
            },
            isSave() {
                return this.$store.getters['product/isSave']
            },
            errors() {
                return this.$store.getters['product/errors']
            },
            categories() {
                return this.$store.getters['categories/data']
            },
            id: {
                get () {
                    if(this.$store.getters['product/isLoad']) return null
                    return this.$store.getters['product/data']['id']
                },
                set (value) {

                }
            },
            title: {
                get () {
                    if(this.$store.getters['product/isLoad']) return null
                    return this.$store.getters['product/data']['title']
                },
                set (value) {
                    this.$store.commit('product/SET_DATA_TITLE', value)
                    this.$store.commit('product/SET_ERRORS', [])
                }
            },
            description: {
                get () {
                    if(this.$store.getters['product/isLoad']) return null
                    return this.$store.getters['product/data']['description']
                },
                set (value) {
                    this.$store.commit('product/SET_DATA_DESCRIPTION', value)
                    this.$store.commit('product/SET_ERRORS', [])
                }
            },
            image: {
                get () {
                    if(this.$store.getters['product/isLoad']) return null
                    return this.$store.getters['product/data']['image']
                },
                set (value) {
                    this.$store.commit('product/SET_DATA_IMAGE', value)
                    this.$store.commit('product/SET_ERRORS', [])
                }
            },
            image_url: {
                get () {
                    if(this.$store.getters['product/isLoad']) return null
                    return this.$store.getters['product/data']['image_url']
                },
                set (value) {
                    this.$store.commit('product/SET_DATA_IMAGE_URL', value)
                    this.$store.commit('product/SET_ERRORS', [])
                }
            },
            category_id: {
                get () {
                    if(this.$store.getters['product/isLoad']) return null
                    return this.$store.getters['product/data']['category_id']
                },
                set (value) {
                    this.$store.commit('product/SET_DATA_CATEGORY_ID', value)
                    this.$store.commit('product/SET_ERRORS', [])
                }
            }
        },
        watch: {
            isSave(value) {
                if(!value) {
                    this.$store.dispatch("categories/loadFromServer")
                }

                if(this.$route.name === 'product.edit' && !this.$store.getters['product/activeId']) {
                    let categoryId = this.$store.getters['product/activeCategoryId']
                    this.$router.push({name:'category', params:{id: categoryId } })
                }
            },
            id(id) {
                if(this.$route.name === 'product.new' && id) {
                    this.$router.push({name:'product.edit', params:{id: id}})
                }
            },
            '$route': 'fetchData'
        },
        created () {
            this.fetchData()
        },
        methods: {
            fetchData() {
                if (this.$route.name === 'product.edit') {
                    this.$store.commit('product/SET_ACTIVE_ID', this.$route.params.id)
                    this.$store.dispatch("product/editFromServer")
                }
                if (this.$route.name === 'product.new') {
                    this.$store.commit('product/SET_ACTIVE_ID', 'new')
                    this.$store.commit('product/SET_ACTIVE_CATEGORY_ID', this.$route.query.category_id)
                    this.$store.dispatch("product/createFromServer")
                }
            },
            handlerSave () {
                if(!this.isLoad) {
                    if (this.$route.name === 'product.edit') {
                        this.$store.dispatch('product/updateToServer')
                    }
                    if (this.$route.name === 'product.new') {
                        this.$store.dispatch('product/storeToServer')
                    }
                }
            },
            handlerDestroy () {
                if(!this.isLoad) {
                    this.$store.dispatch('product/destroyToServer')
                }
            },
            handlerBack () {
                if(!this.isLoad) {
                    this.$router.go(-1)
                }
            },
            handlerImageUpload(){
                this.$refs.file.click()
            },
            onChangeFileUpload(){
                let file = this.$refs.file.files[0];

                let formData = new FormData();
                formData.append('image', file);

                this.$http.post('/api/upload',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(function(data){
                    this.image = data.data.name;
                    this.image_url = '/storage/'+data.data.name;
                })
                .catch(function(res){
                  console.log(response.body.error);
                });
            }
        }
    }
</script>
