<template>
    <aside class="menu">
      <p class="menu-label">
        Категории
      </p>
      <ul v-for="category in categories" class="menu-list">
        <li><router-link :to="{ name: 'category', params: { id: category.id } }" active-class="is-active" exactActiveClass="is-active">{{category.name}}</router-link></li>
      </ul>
      <progress v-if="isLoad" class="progress is-small is-primary" max="100">15%</progress>

      <hr/>

      <router-link :to="{ name: 'category.new' }" exactActiveClass="is-active">
        <button class="button is-warning is-fullwidth is-light">
        <span class="icon">
          <i class="fas fa-plus"></i>
        </span>
          <span>Добавить категорию</span>
        </button>
      </router-link>

    </aside>
</template>

<script>
    export default {
        created() {
            this.$nextTick(function () {
                this.$store.dispatch("categories/loadFromServer")
            })
        },
        computed: {
            categories() {
                return this.$store.getters['categories/data']
            },
            isLoad() {
                return this.$store.getters['categories/isLoad']
            }
        }
    }
</script>

<style scoped>
  .progress {
    margin-bottom: 0px;
  }
</style>
